*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: serif;
}
#k4{
	width: 100%;
	position: fixed;
	background-color: black;
}
#k5{
	width: 1300px;
	display: flex;
	justify-content: space-between;
}
#k6 a{
	font-size: 40px;
	font-weight: 100;
	color: white;
	text-align: center;
}
#k6 span{
	color: grey;
}
#lr1{
	width: 100%;
	height: 50%;
	text-align: center;
}
#lr1 p{
	font-size: 40px;
	font-weight: 100;
	color: black;

}
#l1{
padding: auto 10px;
margin: auto 10px;
padding-bottom: 10px,
}
#l2 img{
	width: 500px;
	height: 400px;
	object-fit: cover;
	border-radius: 6px;
}
#l3 h1{
	font-size: 40px;
	font-weight: 100;
}
#l3 p{
	text-align: justify;
	font-size: 40px;
	font-weight: 100;
	text-align: center;
}
#l4 img{
	width: 500px;
	height: 400px;
	object-fit: cover;
	border-radius: 6px;
}
#l5 h1{
	font-size: 40px;
	font-weight: 100;
}
#l5 p{
	text-align: justify;
	font-size: 40px;
	font-weight: 100;
	text-align: center;
}
#l6 img{
	width: 500px;
	height: 400px;
	object-fit: cover;
	border-radius: 6px;
}
#l7 h1{
	font-size: 40px;
	font-weight: 100;
}
#l7 p{
	text-align: justify;
	font-size: 40px;
	font-weight: 100;
	text-align: center;
}